<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
">

    <!--加载配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--包扫描-->
    <context:component-scan base-package="com.zwc.service"/>
    <!--配置数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
    </bean>
    <!--SqlSessionFactoryBean-->
    <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--配置数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--实体类别名包扫描-->
        <property name="typeAliasesPackage" value="com.zwc.pojo"/>
    </bean>
    <!--sqlSession>>>>****mapper-->
    <!--MapperScanner 生成所有的Mapper对象并放入容器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入factory-->
        <property name="sqlSessionFactoryBeanName" value="factory"/>
        <!--扫描所有的mapper接口和映射文件-->
        <property name="basePackage" value="com.zwc.mapper"/>
    </bean>

    <!--声明事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--开启事务注解 默认名字是transactionManager-->
    <tx:annotation-driven transaction-manager="transactionManager"/>


</beans>