<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dept1" class="com.zwc.bean.Dept"></bean>
    <!--自动装配-->
    <bean id="emp" class="com.zwc.bean.Emp" autowire="byType"></bean>

</beans>